<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="card">
                <h1 class="card-title">Martin Melody</h1>
                <div class="subtitle-Container">
                    <div class="subtitle">
                        <p class="subtitle-Text">Junior Software Developer</p>
                    </div>
                    <span>|</span>
                    <div class="subtitle">
                        <p class="subtitle-Text">Cat Lover</p>
                    </div>
                    <span>|</span>
                    <div class="subtitle">
                        <p class="subtitle-Text">Something Else</p>
                    </div>

                    <!--                     
                    <p class="subtitle">Cat Enthusiast</p>
                    
                    <p class="subtitle">Something Else</p> -->
                </div>
                <div class="links-Container">
                    <p class="link" (click)="goToLinkedIn()">
                        <fa-icon class="icons" style="color:#0072b1;" [icon]="faLinkedin" matTooltip="LinkedIn"
                            matTooltipPosition="left"></fa-icon>
                    </p>
                    <p class="link" (click)="goToGithub()">
                        <fa-icon class="icons" style="color:#171515;" [icon]="faGithub" matTooltip="Github"
                            matTooltipPosition="below"></fa-icon>
                    </p>
                    <p class="link" (click)="goToLinkedIn()">
                        <fa-icon class="icons" style="color:#5a005a ;" [icon]="faMicrosoft" matTooltip="OutLook"
                            matTooltipPosition="right"></fa-icon>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>