
    <div class="bg-image1">
        <div class="project-desc-right" (click)="GoToMartype()">
            <div class="project-title-right">
                <h1>Martype</h1>
            </div>
            <div class="project-info-right">
                <p>Martype is a website where you can practice your typing, see your results and save and view the quotes you liked</p>
            </div>
        </div>
    </div>
    
    <div class="bg-image2">
        <div class="project-desc-left" (click)="GoToMarFlip()">
            <div class="project-title-left">
                <h1>MartFlip</h1>
            </div>
            <div class="project-info-left">
                <p>MartFlip is a study website inspired by Anki. You use flipcards to help you learn </p>
            </div>
        </div>
    </div>


    

