    <mdb-carousel [controls]="true" [indicators]="false" [animation]="'fade'">
    <mdb-carousel-item >
        <img src="../../../assets/images/carousselImg3.jpeg" class="d-block w-100 img" alt="..." />
        <div class="carousel-caption d-none d-md-block">
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img src="../../../assets/images/carousselImg2.jpg" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img src="../../../assets/images/carousselImg7.jpg" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
        </div>
    </mdb-carousel-item>
</mdb-carousel>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <h1>Header</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio dignissimos </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">

            <div class="row">
                <div class="card p-0 my-3">
                    <img class="card-iamge" src="../../../assets/images/natureplaceholderphotoEducation.jpg" alt="">

                    <div class="card-body">
                        <h2>Fashions fade, style is eternal</h2>
                        <p class="bard-body-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci iure facere temporibus
                            culpa modi tempora voluptates et quae ducimus dolor at quod nemo magni, reiciendis
                            perferendis id recusandae fuga dicta. Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Eligendi quaerat expedita nihil magnam sint fugit debitis? Est necessitatibus cum,
                            dicta deserunt officiis neque repellendus eligendi officia accusantium itaque vero quos.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card p-0 my-3">
                    <img class="card-iamge" src="../../../assets/images/natureplaceholderphotoEducation.jpg" alt="">

                    <div class="card-body">
                        <h2>Fashions fade, style is eternal</h2>
                        <p class="bard-body-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci iure facere temporibus
                            culpa modi
                            tempora voluptates et quae ducimus dolor at quod nemo magni, reiciendis perferendis id
                            recusandae fuga
                            dicta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quaerat expedita
                            nihil magnam
                            sint fugit debitis? Est necessitatibus cum, dicta deserunt officiis neque repellendus
                            eligendi officia
                            accusantium itaque vero quos.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3 h-100">
            <div class="about-me card my-3">
                <img src="../../../assets/images/natureplaceholderphotoEducation.jpg" alt="">
                <div class="sidebar-container">
                    <h1>About Me</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi placeat vero cum totam laudantium modi explicabo sit cupiditate velit fugiat mollitia ducimus, libero nobis temporibus excepturi quaerat tenetur dolorum soluta?</p>
                </div>
            </div>

            <div class="about-me card my-3">
                <img src="../../../assets/images/natureplaceholderphotoEducation.jpg" alt="">
                <div class="sidebar-container">
                    <h1>About Me</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi placeat vero cum totam laudantium modi
                        explicabo sit cupiditate velit fugiat mollitia ducimus, libero nobis temporibus excepturi quaerat tenetur
                        dolorum soluta?</p>
                </div>
            </div>

            <div class="about-me card my-3">
                <img src="../../../assets/images/natureplaceholderphotoEducation.jpg" alt="">
                <div class="sidebar-container">
                    <h1>About Me</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi placeat vero cum totam laudantium modi
                        explicabo sit cupiditate velit fugiat mollitia ducimus, libero nobis temporibus excepturi quaerat tenetur
                        dolorum soluta?</p>
                </div>
            </div>
        </div>
    </div>
</div>